*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.top_nav{
	overflow: hidden;
}
.logo{
	line-height: 44px;
	float: left;
	font-size: 32px;
	overflow: hidden;
}

.logo__blue{
	font-family: 'Coolvetica-rg-regular';
	color: #01a5ca;
	font-size: 53px;
}
.logo__black{
	font-family: 'Coolvetica-rg-regular';
	color: #292929;
	font-size: 53px;
}
/*top menu*/
.top_menu{
	font-family: 'asap-regular';
	font-size: 17px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 180px;
	float: right;
}
.top_menu ul{
	display: block;
}
.top_menu ul li{
	padding: 0 22px 0 22px;
	color: #292929;

	
	display: inline-block;
}
.top_menu ul li a{
	color: #292929;
}
.top_menu ul li a:hover, .top_menu ul li a:active{
	color: #01a5ca;
}
.social{
	overflow: hidden;
	color: #000;
	margin-left: 890px;
	flosat: right;
}

.social span{
	color: #000;
	font-size: 24px;
}
					               /*Слайдер*/
.slider_container img{
	height: 393px;
	max-width: 100%;
}
.slider_container{
	width: 640px;
	height: 393px;
	margin-left:0;
	position: relative;
	padding-bottom: 30px;
}
.prev_button, .next_button{
	font-size: 46px;
	color: #fff;
	position: absolute;
	z-index: 10;
	top: 30%;
	cursor: pointer;
	background-color: rgba(150,150,150,.4);
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 10px;
}
.prev_button:hover, .next_button:hover{
	font-size: 46px;
	color: #fff;
	position: absolute;
	z-index: 10;
	top: 30%;
	cursor: pointer;
	background-color: rgba(155,155,155,.3);
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 10px;
}
.next_button{
	right: 20px;
}
.prev_button{
	left: 20px;
}
.slider__rightblock{
	width: 300px;
	background-color: #292929;
	margin-left: -25px;
	height: 393px;
}
.slider__rightblock h1{
	font-family: 'asap-regular';
	font-size: 45px;
	color: #01a5ca;
	text-align: left;
	line-height: 35px;
	margin-left: 48px;
}
.slider__rightblock p{
	font-family: 'asap-regular';
	font-size: 17px;
	line-height: 28px;
	color: #fff;
	opacity: 0.5;
	margin-left: 48px;
}
.slider__rightblock a{
	text-transform: uppercase;
	padding: 14px 28px;
	font-family: 'asap-regular';
	font-size: 17px;
	color: #fff;
	margin-left: 48px;
	background-color: #3f3f3f;
	opaity: 0.5;
}
section .text{
	font-family: 'asap-regular';
	font-size: 17px;
	line-height: 34px;
	text-align: justify;
	margin-left: 25px;
	width: 850px;
}
section .text span{
	color: #01a5ca;
}
h3 span{
	font-family: 'asap-regular';
	font-size: 30px;
	font-weight: normal;
}
.blue{
	color: #01a5ca;

}
.black{
	color: #292929;
}
h4{
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	margin-top: 5px;
}
.item__text{
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
}
.sidebar-right ul{}
.sidebar-right ul li{
	margin-bottom: 7px;

}
.sidebar-right ul a{

	font-family: arial;
	font-weight: normal;
	font-size: 14px;
	color: #292929;
}
input[type="text"]{
	color: #000;

	font-weight: normal;
	opacity: 0.5;
	border: 1px solid #eeeeee;
	marxgin-bottom: 100px;
}
input[type="text"]::-webkit-input-placeholder{
	color: #292929;
	opacity: 0.5;
}
.search{
	position: relative;
	font-family: 'asap-regular';
	font-size: 14px;
	text-aligsn: center;
	top: 20px;
	left: 20px;
}
footer{
	margin-top: 40px;
}
.footer{
	
	text-align: center;
	font-family: arial;
	font-size: 14px;
	margin-bottom: 2px;
	font-weight: normal;
}
.footer .black, .footer .blue{
	font-weight: normal;
	line-height: 1px;
	margin-bottom: -5px;
}